<p id="notice"><%= notice %></p>

<p class="bit_title_container">
  <span class="bit_title"><%= @bit.title %></span>
</p>

<p class="bit_content">
  <%= @bit.content.gsub(/\n/, "<br>").html_safe %>
</p>

<div class="comments">
<span class="comments_title">Comments</span><br>

<% @bit.comments.select { |x| x.parent_id.nil? }.each do |comment| %>
<%= render comment %>
<% end %>

<%= form_for(@new_comment) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 8 %>
  </div>
  <%= f.hidden_field :bit_id, :value => @bit.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>

<%= link_to 'Edit', edit_bit_path(@bit) %> |
<%= link_to 'Back', bits_path %>
