<p id="notice"><%= notice %></p>

<p class="bit_title_container">
  <span class="bit_title"><%= @bit.title %></span>
</p>

<p class="bit_content">
  <%= @bit.content.gsub(/\n/, "<br>").html_safe %>
</p>


<%= link_to 'Edit', edit_bit_path(@bit) %> |
<%= link_to 'Back', bits_path %>
